[submodule "PhotosApi"]
	path = PhotosApi
	url = git@github.com:rinkaaan/PhotosApi.git
[submodule "PythonUtils"]
	path = PythonUtils
	url = git@github.com:rinkaaan/PythonUtils.git
[submodule "PhotosModels"]
	path = PhotosModels
	url = git@github.com:rinkaaan/PhotosModels.git
[submodule "PhotosApiTests"]
	path = PhotosApiTests
	url = git@github.com:rinkaaan/PhotosApiTests.git
[submodule "PhotosApp"]
	path = PhotosApp
	url = git@github.com:rinkaaan/PhotosApp.git
